/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #f4f4f4;
  --overlay-background-color: #eee;
  --highlight-background-color: #231f20;
  --text-color: #000;
  --primary-color: #fc0;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 80px;

}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}


@media (min-width: 1024px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  overflow-x: hidden;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* a:any-link {
  color: var(--link-color);
  text-decoration: none;
} */

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #706d6e;
  padding: 0 30px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  color: #706d6e;
  background-color: white;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
  line-height: 46px;
  margin-bottom: 0;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  border:1px solid #d3d2d2;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #231f20;;
  font-weight: 400;
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  background-color: #ffdb4c;
  border: 1px solid #ffdb4c;
  color: #231f20;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  position: relative;
}

.icon.icon-search img {
  height: 25px;
  width: 25px;
  margin-right: 30px;
}

.icon.icon-search{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 26px;
  padding-left: 30px;
  padding-right: 0;
}

.icon.icon-search::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  border-left: 1px solid #e9e9e9;
  padding: 36px 30px;
}


.nav-tools p:nth-child(2) img {
  position: relative;
  height: 20px;
  vertical-align: text-bottom;
}

.nav-tools p:nth-child(2) span {
  margin-right: 6px;
}

.nav-tools p:nth-child(2) {
  content: "";
  position: relative;
  background-color: #fc0;
  padding: 28px;
  padding-left: 20px;
  padding-right: 10px;
  width: 90px;
}

.nav-tools p:hover:nth-child(1) {
  background-color: #e9e9e9;
}

.nav-tools p:hover:nth-child(2) {
  background-color: #ffdb4c;
}

/*
main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}
*/


main {
  position: relative;
  margin: 0 8px;

  @media (min-width: 1024px) {
    max-width: 1200px;
    margin: auto;
  }
}

.home-loan main {
  @media (min-width: 1024px) {
    max-width: 1328px;
    margin: auto;
  }
}

.section {
  background-color: #fff;
  margin-top: 0;
}

.section.hero-banner .default-content-wrapper {
  max-width: 1488px;
  margin: auto;
  margin-left: -8px;
}

.section.hero-banner .default-content-wrapper > p{
  height: 600px;
  overflow: hidden;
  margin: 0;
}

.section.text-wrapper ~ .section.quick-links:not(.card-section, .highlight) {
  margin-top: 150px;
}

.section.text-wrapper ~ .section.home-loan-links:not(.card-section, .highlight) {
  margin-top: 158px;
}

.section.highlight {
  background-color: var(--highlight-background-color);
  color: #fff;
  padding: 48px 24px 0;
  margin-top: 0;
}

.section.text-wrapper ~ .section.highlight {
  margin-top: 0;
  margin-left: -8px;
  margin-right: -8px;
}

/* text-cta */
.section.text-cta {
  padding: 0 24px;
}

.section.text-cta > div {
  padding: 48px 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

#are-you-experiencing-financial-difficulty-get-help {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

#are-you-experiencing-financial-difficulty-get-help strong {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.section.highlight .columns-wrapper:last-child .columns > div > div:last-child a {
  color: white;
}

#are-you-experiencing-financial-difficulty-get-help a {
  border: solid 1px #706d6e;
  color: #231f20;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 16px;
  height: 3rem;
  line-height: calc(3rem - 2px);
  padding: 0 1.5rem;
  text-align: center;
  font-weight: 400;
}

/* section metadata */

.section.hero-banner {
  max-height: 600px;
  margin: auto;
  margin-right: -16px;
  width: 100vw;
  position:absolute;
  z-index: -1;
  background-color: #f4f4f4;
}

.section.highlight> div:not(main .section.highlight > div > div),
.section.cards-container, .section.text-cta, .section.card-section {
  max-width: 1200px;
  margin: auto;
}

.section.highlight h2 {
  font-size: 24px;
  margin-top: 0;
}

.section.highlight .columns-wrapper:nth-last-child(2) {
  padding-bottom: 64px;
}

.section.highlight .columns-wrapper:last-child{
  border-top: 1px solid #4f4c4d;
  padding: 64px 0;
}

.section.highlight .columns-wrapper:last-child .columns > div > div:last-child {
  flex: 0 0 66.66%;
  font-size: 16px;
}

.section.highlight #things-you-should-know {
  font-size: 24px;
  margin-bottom: 32px;
}

#home-loans {
  font-size: 32px;
  margin-bottom: 24px;
}

.home-loans-text-wrapper.text-wrapper {
  padding: 32px 24px;
}

.section.home-loans-highlight {
  background-color: var(--background-color);
  color: var(--text-color);
}

.section.home-loans-highlight a {
  color: var(--link-color) !important;
}

.section.home-loans-highlight a:hover {
  text-decoration: none;
}

.section.home-loans-highlight #things-you-should-know {
  display: flex;
}

.section.home-loans-highlight .columns-wrapper:last-child > div > div {
  align-items: flex-start;
}

.section.home-loans-highlight .columns-wrapper:last-child {
  border-top: 1px solid #e9e9e9;
}

.section.home-loans-highlight #were-here-to-help {
  font-size: 32px;
  font-weight: 800;
}

.section.home-loans-highlight > div:nth-child(2) div div {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  max-height: 240px;
  max-width: 100%;
}

.section.home-loans-highlight > div:nth-child(2) div div p {
  margin: 0;
  max-width: 174px;
  padding: 8px 16px 8px 24px;
}
.section.home-loans-highlight > div:nth-child(2) div div p:first-child {
  padding: 0 !important;
}

.section.home-loans-highlight > div:nth-child(2) .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 134px;
}

.section.home-loans-highlight > div:nth-child(2) div {
  border-right: 1px solid #e9e9e9;
}

.section.home-loans-highlight > div:nth-child(2) div:last-child {
  border-right: none;
}

.section.home-loans-highlight > div:nth-child(2) p:last-child {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.section.home-loans-highlight > div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  font-weight: 800;
}

@media (max-width: 769px) {
  .section.home-loans-highlight #were-here-to-help {
    font-size: 24px;
  }

  .section.home-loans-highlight > div:nth-child(2) div div {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    max-height: 100%;
  }

  .section.home-loans-highlight > div:nth-child(2) div div div {
    max-height: 240px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .section.home-loans-highlight > div:nth-child(2) div {
    border-right: none;
    border-bottom: 1px solid #e9e9e9;
  }

  .section.home-loans-highlight > div:nth-child(2) div:last-child {
    border-bottom: none;
  }
  
  .section.home-loans-highlight > div:nth-child(2) .icon {
    width: 64px;
    height: 64px;
    margin-bottom: 134px;
  }

  .section.home-loans-highlight .columns-wrapper{
    padding-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .section.hero-banner {
    position: absolute;
    margin-left: -50vw;
    left: 50%;
    width: 100vw;
  }

  .section.hero-banner .default-content-wrapper {
    margin-left: auto;
  }

  .section.text-cta {
    padding: 0;
  }

  .section.text-cta > div {
    padding: 64px 0;
    margin: 0 64px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }

  #are-you-experiencing-financial-difficulty-get-help {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    align-items: center;
  }

  #are-you-experiencing-financial-difficulty-get-help strong {
    margin-right: 32px;
    margin-bottom: 0;
    font-size: 32px;
  } 

   #are-you-experiencing-financial-difficulty-get-help a {
    width: 180px;
  }

  .section.highlight {
    padding: 32px 0;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }

  .section.text-wrapper ~ .section.highlight {
    margin:unset;
    margin-left: -50vw;

  }
  
  .section.highlight #things-you-should-know {
    font-size: 32px;
  } 

  #keeping-your-accounts-safe-is-our-priority {
    font-size: 40px;
  }

  .section.quick-links {
    border-bottom: 0;
    padding: 0;
  }

  .section.quick-links > div {
    padding-bottom: 64px;
    padding-top: 64px;
    border-bottom: 1px solid #e9e9e9;
    margin: 0 64px;
  }

  .section.text-wrapper ~ .section.home-loan-links:not(.card-section, .highlight) {
    margin-top: 50px;
  }

  .section.home-loans-hero {
    margin-left: 0;
    left:40%;
    width: 50vw;
  }

  #home-loans {
    font-size: 40px;
  }

  .home-loans-text-wrapper.text-wrapper {
    width: 50%;
    padding: 64px;
  }

  .home-loans-text-wrapper .button-container {
    display: inline;
    padding: 0;
  }

  .text-wrapper > .default-content-wrapper > .button-container{
    padding:0;
  }

  a.button:any-link {
    padding: 0 24px;
  }

  a.button.secondary {
    margin-left: 16px;
  }
}